.metricItem {
  padding: 8px;
  border-radius: var(--mantine-radius-sm);
  transition: all 0.2s ease;
  background-color: var(--mantine-color-gray-0);
  width: 100%;
  height: 100%;
}

.metricItem:hover {
  background-color: var(--mantine-color-white);
  box-shadow: var(--mantine-shadow-xs);
}

.subtleIcon {
  opacity: 0.6;
}
