.overlayBase {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  font-size: var(--mantine-font-size-sm);
}

.errorOverlay {
  composes: overlayBase;
  background-color: var(--mantine-color-red-2);
  color: var(--mantine-color-red-9);
}

.noDataOverlay {
  composes: overlayBase;
  background-color: var(--mantine-color-grey-2);
  color: var(--mantine-color-grey-6);
}
