.stickyHeader {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.dataTableContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  flex-direction: column;
}

.dataTableRoot {
  width: 100%;
  height: 100%;
}
