.timeAxis {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 100%;
}

.timeMarker {
  position: absolute;
  transform: translateX(-50%);
  text-align: center;
  white-space: nowrap;
  padding-bottom: 12px;
}

.timeMarker::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 8px;
  background: var(--mantine-color-gray-5);
}
